.adjust-wrap {
}
.adjust-wrap ul {
  font-size: 0;
}
.adjust-wrap li {
  display: inline-block;
  width: 20%;
  border: 5px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
  vertical-align: top;
}
.adjust-wrap p {
  font-size: 16px;
  word-break: break-all;
}