extend /_inc/layout/_base

block vars
  - title = 'testTITLE';
  - description = 'testDESCRIPTION';
  - keywords = 'testKEYWORDS';
  - ogUrl = '';
  - ogType = '';
  - ogImage = '';

block contents
  p(data-module="test") テストテストテストテストテストテストテスト