include /_inc/modules/_meta
block vars

doctype html
html
  head
    block meta
      +meta

  body
    block start_of_body
    .l-wrapper
      include /_inc/layout/_header.pug
      main.l-main
        block contents
      include /_inc/layout/_footer.pug

    block script
      script(src='/assets/scripts/app.js')